@import "src/styles.scss";

.container {
  @include flex-display(center, center, column);
  width: 100vw;
}

.message-container {
  display: block;
  @include font-style(700, 1.563rem, 0.25rem);
  width: 100%;
  max-width: $content-width;
  margin-top: 4.063rem;
  color: #ffffff;
}

.back-button-container {
  @include flex-display(flex-start, center, row);
  width: 100%;
  max-width: $content-width;
  margin-top: 1.25rem;
}
