@import "src/styles.scss";

.container {
  @include flex-display(center, center, column);
  width: 100vw;
}

.message-container {
  @include flex-display(flex-start, center, row);
  @include font-style(700, 25px, 4px);
  width: $content-width;
  margin-top: 40px;
  color: #ffffff;
}

.back-button-container {
  @include flex-display(flex-start, center, row);
  width: $content-width;
  margin-top: 20px;
}
