<div class="container">
  <div class="back-button-container">
    <a [routerLink]="['/home']">
      <button class="back-button" type="button">
        <img src="assets/icons/left-arrow.svg" alt="" />
        BACK
      </button>
    </a>
  </div>

  <div class="form-container">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <ng-select
        [(ngModel)]="selected"
        name="userSelect"
        [multiple]="true"
        class="user-select"
        placeholder="Who you want to recognize?"
      >
        <ng-option *ngFor="let user of users" [value]="user.externalId">
          {{ user.username }}
        </ng-option>
      </ng-select>

      <div class="category-container">
        <div><label>Select category:</label></div>

        <mat-chip-listbox class="chips-container" ngModel name="chips">
          <mat-basic-chip-option
            *ngFor="let chip of chips"
            [selected]="chip.selected"
            class="custom-chip"
          >
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: space-between;
              "
            >
              <img [src]="chip.iconSrc" alt="" style="margin-right: 10px" />
              {{ chip.name }}
            </div>
          </mat-basic-chip-option>
        </mat-chip-listbox>
      </div>

      <div class="title-container">
        <div><label>Title:</label></div>
        <div>
          <input
            type="text"
            id="title"
            ngModel
            name="title"
            placeholder="Enter marios title"
            class="title-input"
          />
        </div>
      </div>

      <div class="comment-container">
        <div><label>Comment:</label></div>
        <div>
          <textarea
            type="text"
            id="comment"
            [(ngModel)]="commentText"
            name="comment"
            class="comment-textarea"
            maxlength="255"
          ></textarea>
        </div>
        <div class="counter">{{ commentText.length }}/255</div>
      </div>

      <div class="send-button-container">
        <button class="send-button" type="submit">SEND</button>
      </div>
    </form>
  </div>
</div>

<!-- <div>
        <label for="username">Username</label>
        <hr />
        <input type="text" id="username" ngModel name="username" />
      </div>
      <div>
        <label for="email">Email</label>
        <hr />
        <input type="text" id="email" ngModel name="email" />
      </div>
      <button type="submit">Submit</button>
    </form> -->
