@import "src/styles.scss";
$main-gray-color: #bababa;

.container {
  @include flex-display(center, center, column);
  width: 100vw;
  margin-bottom: 100px;
}

.form-container {
  @include flex-display(center, flex-start, row);
  @include font-style(700, 25px, 4px);
  width: $content-width;
  background-color: white;
  margin-top: 80px;
  border-radius: 5px;
}

.back-button-container {
  @include flex-display(flex-start, center, row);
  width: $content-width;
  margin-top: 20px;
}

.ng-select.user-select {
  width: $content-width;
}

.ng-select.user-select ::ng-deep .ng-select-container {
  @include flex-display(center, center, row);
  @include font-style(600, 25px, 1px);
  border: none;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 4px solid #fccf00;
  min-height: 60px;
  padding: 0px !important;
}

.ng-select.user-select ::ng-deep .ng-value-container {
  @include flex-display(flex-start, center, row);
  padding: 5px !important;
}

.ng-select.user-select ::ng-deep .ng-placeholder {
  text-align: center;
  color: #8d8080;
  background-image: url("/assets/icons/person-icon-yellow.svg");
  background-repeat: no-repeat;
  background-position: left 5px bottom 5px;
  text-indent: 50px;
  padding: 0px !important;
  margin-top: 10px;
}

.category-container {
  @include flex-display(center, flex-start, column);
  @include font-style(700, 24px, 1px);
  padding-left: 15px;
  width: $content-width -20px;
  margin-top: 20px;
}

.chips-container {
  @include flex-display(center, space-between, row);
  margin-top: 20px;
  margin-bottom: 10px;
}

.mat-mdc-chip {
  @include flex-display(center, center, row);
}

.custom-chip {
  @include font-style(700, 16px, 1px);

  height: 25px;
  padding: 5px 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid $main-gray-color;
  background-color: white;
}

.chip-content {
  display: flex;
  justify-content: space-between;
  align-items: space-between;

  & > img {
    margin-right: 10px;
  }
}

.mat-mdc-chip-selected {
  background-color: #e0e0e0;
}

.title-container {
  border-top: 4px solid #fccf00;

  @include flex-display(center, flex-start, column);
  @include font-style(700, 24px, 1px);
  padding-left: 15px;
  padding-top: 20px;
  margin-top: 20px;

  & > div {
    margin-bottom: 10px;
  }
}

.title-input {
  border: 2px solid $main-gray-color;
  border-radius: 5px;
  @include font-style(700, 18px, 1px);
  height: 40px;
  width: $content-width - 70px;
  padding-left: 10px;

  &::placeholder {
    @include font-style(700, 16px, 1px);
    color: $main-gray-color;
    line-height: 90px;
  }
}

.comment-container {
  @include flex-display(center, flex-start, column);
  @include font-style(700, 24px, 1px);
  border-top: 4px solid #fccf00;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: $content-width -20px;
  margin-top: 20px;
  position: relative;

  & > div {
    margin-bottom: 10px;
  }
}

.comment-textarea {
  border: 2px solid $main-gray-color;
  border-radius: 5px;
  @include font-style(700, 20px, 1px);
  height: 180px;
  width: $content-width - 70px;
  padding-left: 10px;
  resize: none;
}

.counter {
  @include font-style(700, 18px, 1px);
  color: $main-gray-color;
  position: absolute;
  bottom: 35px;
  right: 45px;
}

.send-button-container {
  @include flex-display(flex-end, center, row);
  padding-right: 40px;
  margin-bottom: 15px;
}

.send-button {
  @include font-style(700, 17px, 1px);
  @include flex-display(center, center, row);
  width: 120px;
  height: 45px;

  background-color: #ffdf24;
  border: solid 3px #000000;
  border-radius: 5px;
  cursor: pointer;

  transition: transform 0.1s ease-in-out, box-shadow 0.4s ease-out;
  filter: blur(0);

  &:hover {
    box-shadow: 0px 15px 25px -5px rgba(#d7d7d7, 90%);
    transform: perspective(1px) scale(1.0588);
  }

  &:active {
    box-shadow: 0px 4px 8px rgba(#d7d7d7, 50%);
    transform: perspective(1px) scale(0.9412);
  }

  &:disabled {
    background-color: $main-gray-color;
    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(#d7d7d7, 90%);
      transform: perspective(1px) scale(1);
    }

    &:active {
      box-shadow: 0px 0px 0px rgba(#d7d7d7, 50%);
      transform: perspective(1px) scale(1);
    }
  }
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

.chips-container.ng-invalid.ng-touched mat-basic-chip-option {
  border: 2px solid red;
}

.user-select.ng-invalid.ng-touched {
  border: 2px solid red;
  border-bottom-width: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  & ::ng-deep .ng-select-container {
    border: none;
  }
}

.error-message {
  color: red;
  @include font-style(700, 14px, 1px);
  margin: 0;
  padding: 0;
  padding-left: 15px;
}
