@import "src/styles.scss";

.container {
  @include flex-display(center, center, column);
  width: 100vw;
}

.form-container {
  @include flex-display(center, center, row);
  @include font-style(700, 25px, 4px);
  width: $content-width;
  height: 700px;
  background-color: white;
  margin-top: 80px;
  border-radius: 5px;
}

.back-button-container {
  @include flex-display(flex-start, center, row);
  width: $content-width;
  margin-top: 20px;
}
