<div mat-dialog-content>
  <div class="marios-container">
    <div class="top-row">
      <div class="author-container">
        <img src="assets/icons/person-icon.svg" alt="" />
        <p class="author">From: {{ data.authorUsername }}</p>
      </div>

      <div class="reaction-container">
        <img src="assets/icons/star-icon.svg" alt="" />
        <p class="reaction">{{ data.characterName }}</p>
      </div>
    </div>

    <div class="title-container">{{ data.title }}</div>

    <div class="comment-container">
      <p>{{ data.comment }}</p>
    </div>
    <span class="close" mat-dialog-close></span>
  </div>
</div>
