<div mat-dialog-content>
  <div class="marios-container">
    <div class="top-row">
      <div class="author-container">
        <img src="assets/icons/person-icon.svg" alt="person icon" />
        <p class="author">From: {{ data.marios.authorUsername }}</p>
      </div>

      <div class="reaction-container">
        <img [src]="data.iconSrc" alt="reaction icon" />
        <p class="reaction">{{ data.marios.characterName }}</p>
      </div>
    </div>

    <div class="title-container">{{ data.marios.title }}</div>

    <div class="comment-container">
      <p>{{ data.marios.comment }}</p>
    </div>
    <span class="close" mat-dialog-close></span>
  </div>
</div>
