<div class="marios-container">
  <div class="inner-column">
    <img src="assets/person-icon.svg" alt="" />
    <p class="author">From: Angela Marcus</p>
  </div>

  <div class="inner-column">
    <img src="assets/star-icon.svg" alt="" />
    <p>Thank you</p>
  </div>

  <div class="inner-column">
    <p>T: You did great today Monica!</p>
  </div>

  <div class="inner-column">
    <p class="comment">
      I wanted to give you marios for your excellent team leadership...
      <span class="see-more">See more</span>
    </p>
  </div>
</div>
