<div class="marios-container">
  <div class="inner-column">
    <img src="assets/icons/person-icon.svg" alt="" />
    <p class="author">From: {{ author }}</p>
  </div>

  <div class="inner-column">
    <img src="assets/icons/star-icon.svg" alt="" />
    <p>{{ marios.characterName }}</p>
  </div>

  <div class="inner-column">
    <p>T: You did great today Monica!</p>
  </div>

  <div class="inner-column">
    <p class="comment">
      {{ marios.comment }}
      <span class="see-more">See more</span>
    </p>
  </div>
</div>
